body {
    font-family: Arial, sans-serif;
}

h1, p {
    text-align: center;
}
.center {
    margin-top: 10px;
    text-align: center;
}
a {
    font-size: 1.2em;
}
a:hover {
    font-size: 1.4em;
    font-weight: bold;
}
.cranberry {
    background: #9f000f;
}
.khaki {
    background: #ada96e;
}
.saffron {
    background: #fbb917;
}
.turquoise {
    background: #43C6DB;
}

.dummy {
    margin-top: 100%;
}
.square {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    text-transform: uppercase;
    padding-top:calc(50% - 30px);
}
.wrong {
    background: black;
    color: black;
}
a.wrong:link, a.wrong:hover, a.wrong:active, a.wrong:visited {
    color: black;
}
#result {
    color: #9f000f;
    font-weight: bold;
    font-style: italic;
}